<launch>

    <arg name="run_node_A" default="false" />
    <arg name="run_node_B" default="false" />
     
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen"/>

    <node pkg="beginner_tutorials" type="smart_turtle" name="smart_turtle" output="screen" if="$(arg run_node_A)"/>

    <node pkg="beginner_tutorials" type="safe_zone_vel_publisher" name="safe_zone_vel_publisher" output="screen" if="$(arg run_node_B)"/>
      
</launch>