<launch>

  <arg name="teleop" default="false" />
  <arg name="random" default="false"/>

  <node pkg="turtlesim" type="turtlesim_node" name="turtlesim"/>
  
  <node if="$(arg teleop)" name="teleop_key" pkg="turtlesim" type="turtle_teleop_key" output="screen"/>

  <node if="$(arg random)" name="rand_vel" pkg="beginner_tutorials" type="pubvel"  output="screen"/>

</launch>
